<ng-container>
  <section class="h-100 h-custom" style="background-color: white;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12">
          <div class="card card-registration card-registration-2" style="border-radius: 15px;">
            <div class="card-body p-0">
              <div class="row g-0">
                <div class="col-lg-8">
                  <div class="p-5">
                    <div class="d-flex justify-content-between align-items-center mb-5">
                      <h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>
                      <h6 class="mb-0 text-muted">{{lignes.length}} items</h6>
                    </div>
                    <hr class="my-4">
                    <div>

                      <div *ngIf="lignes.length===0" class="alert alert-danger" role="alert">
                        Panier Vide !
                      </div>
                    </div>
                    <ng-container *ngIf="lignes.length>0">
                    <div *ngFor="let l of lignes" class="row mb-4 d-flex justify-content-between align-items-center">
                      <div class="col-md-2 col-lg-2 col-xl-2">
                        <img
                          alt="Cotton T-shirt"
                          class="img-fluid rounded-3" src="{{imagePath }}{{l.menu.image}}">
                      </div>
                      <div class="col-md-3 col-lg-3 col-xl-3">
                        <h6 class="text-muted">{{l.menu.categorie.name}}</h6>
                        <h6 class="text-black mb-0">{{l.menu.name}}</h6>
                      </div>
                      <div class="col-md-3 col-lg-3 col-xl-3 d-flex">
                        <ul class="list-inline pb-3 mb-0">
                          <li class="list-inline-item"><span (click)="dec(l)" class="btn btn-success">-</span></li>
                          <li class="list-inline-item"><span class="badge bg-secondary">{{l.qantite}}/{{l.menu.qteMax}}</span></li>
                          <li class="list-inline-item"><span (click)="inc(l)" class="btn btn-success">+</span></li>
                        </ul>
                      </div>
                      <div class="col-md-3 col-lg-3 col-xl-2 offset-lg-1">
                        <h6 class="mb-0 m">{{l.menu.prix*l.qantite}} DH</h6>
                      </div>
                      <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                        <a class="text-muted" style="cursor: pointer" (click)="deleteLigne(l)" ><i class="fa fa-trash" ></i></a>
                      </div>
                    </div>
                    </ng-container>
                    <hr class="my-4">


                    <div class="pt-5">
                      <h6 class="mb-0"><a class="text-body" routerLink="/shop">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        Back to shop</a></h6>
                    </div>
                  </div>
                </div>

                <div *ngIf="lignes.length>0"  class="col-lg-4 bg-grey">
                  <div class="p-5">
                    <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                    <hr class="my-4">

                    <div class="d-flex justify-content-between mb-4">
                      <h5 class="text-uppercase">Prix des menus</h5>
                      <h5>{{getTotalMenus()}} DH</h5>
                    </div>
                    <div class="d-flex justify-content-between mb-4">
                      <h5 class="text-uppercase">Livraison</h5>
                      <h5>{{lignes[0].commande.fraisLivraison}} DH</h5>
                    </div>
                    <div class="d-flex justify-content-between mb-4">
                      <h5 class="text-uppercase">Total</h5>
                      <h5> {{getTotalMenus()+lignes[0].commande.fraisLivraison}} DH</h5>
                    </div>
                    <form action="./commande" method="get">
                      <input name="idc" type="hidden" value="${idc}">
                      <button  *ngIf="lignes.length>0" (click)="commander()" class="btn btn-dark btnblock btn-lg" data-mdb-ripple-color="dark"
                              type="submit">Commander
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</ng-container>
